
.vs/jbg-web/v16/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/jbg-web/v16/.suo
pubs/2025_naacl_advscore~
projects/adobe.html~
pubs/2024_acl_cicero~
resume_src/2021_neurips_incoherence.pdf
resume_src/2024_naacl_convincingly.pdf
resume_src/2025_jbg_zurich.pdf
resume_src/2025_naacl_advscore.pdf
resume_src/2025_references.pdf
resume_src/boyd-graber_umd.pdf
resume_src/diversity.pdf
resume_src/german.pdf
*.log
*.synctex(busy)
resume_src/publications_wrapper.pdf
*.aux
*.bbl
*.blg
*.gz
resume_src/teaching.pdf
resume_src/temp_research.pdf
resume_src/temp_research.tex
resume_src/zurich_wrapper.tex
pubs/2019_tacl_trick~
pubs/\#2021_neurips_incoherence\#
pubs/.\#2025_naacl_reverseqa
pubs/.\#2025_naacl_pholus
pubs/.\#2025_naacl_advscore
pubs/.\#2025_acl_proxann
pubs/.\#2025_acl_mcqa_bad
pubs/.\#2025_acl_grace
pubs/.\#2025_acl_bass
pubs/.\#2024_naacl_pregnant
pubs/.\#2024_eacl_tenor
pubs/.\#2024_acl_cicero
pubs/.\#2021_neurips_incoherence
pubs/\#2025_naacl_reverseqa\#
pubs/\#2025_naacl_pholus\#
pubs/\#2025_naacl_advscore\#
pubs/\#2025_acl_proxann\#
pubs/\#2025_acl_mcqa_bad\#
pubs/\#2025_acl_grace\#
pubs/\#2025_acl_bass\#
pubs/\#2024_naacl_pregnant\#
pubs/\#2024_eacl_tenor\#
pubs/\#2024_acl_cicero\#
pubs/2009_nips_tea_leaves~
pubs/2021_acl_leaderboard~
pubs/2025_acl_bad_questions~
pubs/2025_acl_bass~
pubs/2025_acl_boat~
pubs/2025_acl_ctrld~
pubs/2025_acl_grace~
pubs/2025_acl_mcqa_bad~
pubs/2025_acl_proxann~
src/home.html~
pubs/2021_neurips_incoherence~
pubs/2024_eacl_tenor~
pubs/2024_naacl_pregnant~
pubs/2025_naacl_pholus~
pubs/2025_naacl_reverseqa~
.vs/jbg-web/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/jbg-web/v16/.suo
.vs/jbg-web/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
pubs/\#2025_acl_boat\#
pubs/.\#2025_acl_boat
resume_src/\#jbg.bib\#
resume_src/\#research_text.tex\#
teaching/CMSC_723/\#index.html\#
teaching/CMSC_723/.\#index.html
teaching/CMSC_470/index.json~
pubs/.tex
*.pyc
pubs/2024_emnlp_pedants~
pubs/viva.tex
pubs/uai2009.tex
pubs/srt_naacl_2012.tex
pubs/slda_civil_war.tex
pubs/simulating_audiences.tex
pubs/qb_emnlp_2012.tex
pubs/paper673-boyd-graber.tex
pubs/nips2009-rtl.tex
pubs/nips2008.tex
pubs/mtibp_icml_2012.tex
pubs/madnani-boyd-graber-turk-workshop.tex
pubs/kdd2009.tex
pubs/jbg-SEMEVAL07.tex
pubs/jbg-mlslda-2010.tex
pubs/jbg-jeju.tex
pubs/jbg-EMNLP07.tex
pubs/itm.tex
pubs/image_icon.tex
pubs/idioms.tex
pubs/iconference-2011-learning.tex
pubs/iconference-2011-comparing.tex
pubs/evocation-viva.tex
pubs/adapted_naive_bayes.tex
pubs/acl_2012_tm_for_mt.tex
pubs/acl_2012_sits.tex
pubs/acl_2012_fttm.tex
pubs/2025_neurips_videohallusion.tex
pubs/2025_naacl_reverseqa.tex
pubs/2025_naacl_mods.tex
pubs/2025_naacl_answercomplexity.tex
pubs/2025_naacl_advscore.tex
pubs/2025_emnlp_planorama.tex
pubs/2025_emnlp_mind.tex
pubs/2025_emnlp_grouppreference.tex
pubs/2025_acl_proxann.tex
pubs/2025_acl_mcqa_bad.tex
pubs/2025_acl_grace.tex
pubs/2025_acl_ctrld.tex
pubs/2025_acl_boat.tex
pubs/2025_acl_bass.tex
pubs/2025_acl_badq.tex
pubs/2024_naacl_pregnant.tex
pubs/2024_naacl_convincingly.tex
pubs/2024_lrec_siminthelp.tex
pubs/2024_emnlp_natural.tex
pubs/2024_emnlp_mnemonic.tex
pubs/2024_emnlp_karl.tex
pubs/2024_emnlp_diagramgen.tex
pubs/2024_emnlp_caimira.tex
pubs/2024_eacl_tenor.tex
pubs/2024_eacl_slides.tex
pubs/2024_arr_chiron-advisor.tex
pubs/2024_acl_cicero.tex
pubs/2023_iclr_reliable.tex
pubs/2023_findings_more.tex
pubs/2023_emnlp_videoheadline.tex
pubs/2023_emnlp_hackaprompt.tex
pubs/2023_emnlp_explicitation.tex
pubs/2023_acl_peer_review_report.tex
pubs/2022_emnlp_simqa.tex
pubs/2022_emnlp_cheaters.tex
pubs/2022_emnlp_calibration.tex
pubs/2022_emnlp_augment.tex
pubs/2022_acl_multilingbert.tex
pubs/2022_acl_ast.tex
pubs/2022_acl_alcoref.tex
pubs/2021_neurips_incoherence.tex
pubs/2021_naacl_multi_ance.tex
pubs/2021_naacl_fm2.tex
pubs/2021_emnlp_weak_dpr.tex
pubs/2021_emnlp_qa_fairness.tex
pubs/2021_emnlp_paradigms.tex
pubs/2021_emnlp_answer_equiv.tex
pubs/2021_emnlp_adaptation.tex
pubs/2021_acl_leaderboard.tex
pubs/2020_www_delft.tex
pubs/2020_lrec_sense.tex
pubs/2020_iui_control.tex
pubs/2020_findings_verbs.tex
pubs/2020_findings_qalign.tex
pubs/2020_emnlp_clime.tex
pubs/2020_emnlp_alps.tex
pubs/2020_chi_explanation.tex
pubs/2020_acl_trivia.tex
pubs/2020_acl_refine.tex
pubs/2020_acl_diplomacy.tex
pubs/2019_tacl_trick.tex
pubs/2019_iui_augment.tex
pubs/2019_interspeech_asr.tex
pubs/2019_emnlp_sequentialqa.tex
pubs/2019_emnlp_mtm.tex
pubs/2019_acl_modularity.tex
pubs/2019_acl_local.tex
pubs/2019_acl_flipside.tex
pubs/2019_acl_control.tex
pubs/2019_acl_clwe.tex
pubs/2018_nips_qbcomp.tex
pubs/2018_neurips_mtanchor.tex
pubs/2018_naacl_mltm_eval.tex
pubs/2018_naacl_colorization.tex
pubs/2018_iui_itm.tex
pubs/2018_emnlp_rs.tex
pubs/2018_emnlp_linked.tex
pubs/2018_coling_measurements.tex
pubs/2018_acl_interpeval.tex
pubs/2017_tacl_eval_tm_viz.tex
pubs/2017_ijhcs_human_touch.tex
pubs/2017_emnlp_tree_prior.tex
pubs/2017_emnlp_bandit_mt.tex
pubs/2017_emnlp_adagrad_olda.tex
pubs/2017_cvpr_comics.tex
pubs/2017_acl_multiword_anchors.tex
pubs/2016_naacl_sts.tex
pubs/2016_naacl_relationships.tex
pubs/2016_naacl_paintings.tex
pubs/2016_naacl_interpretese.tex
pubs/2016_icml_opponent.tex
pubs/2016_conll_verbpred.tex
pubs/2016_acl_doclabel.tex
pubs/2016_acl_docblock.tex
pubs/2016_acl_context_ae.tex
pubs/2015_naacl_supervised_anchor.tex
pubs/2015_naacl_qb_coref.tex
pubs/2015_icml_paired_dual.tex
pubs/2015_emnlp_rewrite.tex
pubs/2015_emnlp_hinge_link.tex
pubs/2015_emnlp_fast_priors.tex
pubs/2015_conll_cslda.tex
pubs/2015_acl_teaparty.tex
pubs/2015_acl_diplomacy.tex
pubs/2015_acl_dan.tex
pubs/2014_tacl_ag_vb_online.tex
pubs/2014_nips_l2h.tex
pubs/2014_mlj_itm.tex
pubs/2014_mlj_influencer.tex
pubs/2014_icwsm_grief.tex
pubs/2014_emnlp_simtrans.tex
pubs/2014_emnlp_qb_rnn.tex
pubs/2014_emnlp_howto_gibbs.tex
pubs/2014_book_chapter_care_and_feeding.tex
pubs/2014_acl_rnn_ideology.tex
pubs/2014_acl_ptlda_mt.tex
pubs/2014_acl_anchor_reg.tex
pubs/2013_spoiler.tex
pubs/2013_shlda.tex
pubs/2013_icml_infvoc.tex
pubs/2013_dp_protein.tex
pubs/2013_cogsci_pronoun.tex
pubs/2013_coalescent.tex
pubs/2013_argviz.tex
pubs/2012_www_mrlda.tex
pubs/2011_resources.tex
pubs/2011_book_chapter_evocation.tex
pubs/2011_aaaiws_persuasion.tex
pubs/2010_jbg_thesis.tex
