
.vs/jbg-web/v16/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/jbg-web/v16/.suo
pubs/2025_naacl_advscore~
projects/adobe.html~
pubs/2024_acl_cicero~
resume_src/2021_neurips_incoherence.pdf
resume_src/2024_naacl_convincingly.pdf
resume_src/2025_jbg_zurich.pdf
resume_src/2025_naacl_advscore.pdf
resume_src/2025_references.pdf
resume_src/boyd-graber_umd.pdf
resume_src/diversity.pdf
resume_src/german.pdf
*.log
*.synctex(busy)
resume_src/publications_wrapper.pdf
*.aux
*.bbl
*.blg
*.gz
resume_src/teaching.pdf
resume_src/temp_research.pdf
resume_src/temp_research.tex
resume_src/zurich_wrapper.tex
pubs/2019_tacl_trick~
pubs/\#2021_neurips_incoherence\#
pubs/.\#2025_naacl_reverseqa
pubs/.\#2025_naacl_pholus
pubs/.\#2025_naacl_advscore
pubs/.\#2025_acl_proxann
pubs/.\#2025_acl_mcqa_bad
pubs/.\#2025_acl_grace
pubs/.\#2025_acl_bass
pubs/.\#2024_naacl_pregnant
pubs/.\#2024_eacl_tenor
pubs/.\#2024_acl_cicero
pubs/.\#2021_neurips_incoherence
pubs/\#2025_naacl_reverseqa\#
pubs/\#2025_naacl_pholus\#
pubs/\#2025_naacl_advscore\#
pubs/\#2025_acl_proxann\#
pubs/\#2025_acl_mcqa_bad\#
pubs/\#2025_acl_grace\#
pubs/\#2025_acl_bass\#
pubs/\#2024_naacl_pregnant\#
pubs/\#2024_eacl_tenor\#
pubs/\#2024_acl_cicero\#
pubs/2009_nips_tea_leaves~
pubs/2021_acl_leaderboard~
pubs/2025_acl_bad_questions~
pubs/2025_acl_bass~
pubs/2025_acl_boat~
pubs/2025_acl_ctrld~
pubs/2025_acl_grace~
pubs/2025_acl_mcqa_bad~
pubs/2025_acl_proxann~
src/home.html~
