/*
 * By default, have black sans serif text on a gray background.
 */

body {
    background-color: #d1cdc9;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: #000000;
    margin: 0;
}

pre {
   padding:8px 15px;
   border-radius:5px;
   border:1px solid #e5e5e5;
   font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
   background-color: #eeeeee;
   color: #110000;
   border: 3;
   whitewhite-space: pre-wrap;       /* css-3 */
   whitewhite-space: -pre-wrap;      /* Opera 4-6 */
   whitewhite-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5+ */
   whitewhite-space: -moz-pre-wrap;  /* Older Versions of Mozilla */
}

/*
 * Paragraphs should have a little more spacing and indentation
 */
p {
    margin: 0px;
    padding: 5px 20px 5px 20px;
    text-indent: 10px;
    text-align: justify;
}

/*
 * Links should normally not be underlined unless hovered over
 */

a {
  color: #CFB87C;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * Create special paragraphs for FAQ type pages.
 */

p.question {
  font-weight:bold;
}
p.answer li.answer {
  font-size:90%;
}

/*
 * Create a footer that gives contrast
 */

#footer {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 15px;
    margin: 0px;
}

/*
 * Create two columns on either side of the main body of the page.
 * They will not occupy the full height (unless the content is very
 * skimpy).  Thus if they have background, they should be the same
 * as body.
 */

#left, #right {
    margin: 0px;
}

#left {
    left: 0px;
}

#right {
    position: absolute;
    right: 0px;
    padding-top: 40px;
    color: #564b47;
    width: 170px;
}


/*
 * Set the content to have decent padding and margins and a white
 * background.  The bottom padding is important for the footer not
 * encroaching on the left navigation.
 */

#content, #picture {
    margin: 0px 175px 0px 20px;
    border-left: 2px solid #564b47;
    border-right: 2px solid #564b47;
    background-color: #ffffff;
}

#content {
    padding-bottom: 35px;
}

#picture {
    padding-bottom: 0px;
}

/*
 * Change the color of the headers so that they have contrast with the
 * body text.  Give them a little extra padding and create a special class
 * for the header.
 */

h1, h2, h3, h4, h5 {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: #564b47;
    background-color: transparent;
}

h1 {
    color: #ffffff;
    font-weight: 100;
}

h3, h4, h5 {
    text-align: center;
    text-transform:uppercase;
}

#header {
    position: relative;
    color: #ffffff;
    background-color: #000000;
    font-size: 200%;
    padding: 10px 5px 10px 0.5em;
}

#header a {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

#header span:last-child {
  position: absolute;
  right: 6px;
}

/*
 * The button class creates buttons that look a little nicer than default links.
 */

/*
 * Changes the font and sets the width
 */

#button {
    width: 190px;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida,
    Geneva, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

/*
 * Makes the links appear as a block and gives them a border,
 * removes underlining of links.
 */
#button li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #d0b87c;
    border-right: 10px solid #c0a86c;
    background-color: #282828;
    color:#d0b87c;
    text-decoration: none;

}

li.sub {
     border-left: 10px solid #d0b87c;
     border-right: 10px solid #c0a86c;
}

a.sub {
      border-left: 0px;
}

/*
 * Changes the color of the link on a hover
 */
#button li a:hover {
    border-left:10px solid #DFC88C;
    border-right: 10px solid #DFC88C;
    background-color: #282828;
    color: #ffffff;
}

/*
 * Removes padding from left hand side and hides bullets
 */
#button ul {
    list-style: none;
    padding: 0em;
}

/*
 * Adds a border to the buttom of the buttons
 */
#button li {
    border-bottom: 1px solid #000000;
}

#button {
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
}

/*
 * Toggles for hideable bibtex citations
 */

.hidden {
    display: none;
}
.unhidden {
    display: table;
    position:relative;
    width:80%;
}

/*
 * Create a dark header for table and lighter cell for detail
 */
th
{
background-color:black;
color:white;
}
td.detail {
  background-color: #cccccc;
}
td {
  font-size : 77%;
}


/*
  Copied from CU Boulder
*/

#sidebar {
	width:320px;
	float:left;
	padding-top:20px;
}
#sidebar ul {
	list-style:none;
	margin:0;
	padding:0;
}
#sidebar .sidebar-widget ul {
	list-style:disc;
	margin: 5px 0 5px 20px;
}
#sidebar h3 {
	color:#363636;
	padding:0px;
	font-weight:normal;
	width:auto;
	padding:0;
	padding-bottom:5px;
	margin:0;
	font-size:130%;
}
#sidebar h31 span {
	background-repeat:no-repeat;
	background-position:0 45%;
	padding-left:20px;
	display:block;
}
.sidebar-widget {
	background-color:#EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:1px 2px 1px;
	margin:2px 0;
}
.sidebar-widget p {
	margin-top:0;
	margin-bottom:.8em;
}


#navigation {
	width:960px;
	margin:0 auto;
	padding:0;


}
#navigation ul {
	list-style:none;
	margin:0;
	padding:0;
	height:45px;
	border-left:1px solid #444;
}
#navigation ul li {
	display:inline;
	float:left;
	text-decoration: none;
}
#navigation  ul ul {
	display:none;
}
#navigation a:link, #navigation a:visited {
	display:block;
	float:left;
	color:#d0b87c;
	text-transform:uppercase;
	padding:0 10px;
	font-size:15px;
	line-height:45px;
	height:45px;
	border-right:1px solid #444;
}
#navigation a:hover {
	color:#FFF;
	text-decoration: none;
}
#navigation li.current_page_item a:link, #navigation li.current_page_item a:visited, #navigation li.current_page_ancestor a:link, #navigation li.current_page_ancestor a:visited {
	color:#FFF;
}

#navwrapper {
	width:100%;
	background-color:#282828;
	background-repeat:repeat-x;
	border-top:3px solid #d0b87c;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}